body {
    background-color: rgb(221, 233, 246);
}

.box-card {
    position: relative;
    height: 250px;
    background-color: rgb(236, 206, 166);
    width: 300px;
    margin: 5px;
    border-radius: 4px;
}

.dialog-box {
    position: absolute;
    bottom: 10px;
    margin: 5px;
    padding: 5px;
}

.input {
    height: 25px;
    width: 200px;
    margin-right: 4px;
}

.sbt-button {
    background-color: rgb(167, 243, 144);
    border-radius: 3px;
    border: 1px solid green;
    width: 60px;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cancel {
    cursor: pointer;
    background-color: rgb(241, 188, 119);
    border: 0px solid rgb(236, 206, 166);
    border-radius: 5px;
    color: rgb(11, 163, 184);
    float: right;
    font-size: 20px;
}

p {
    margin: 20px;
    word-wrap: break-word;
    inline-size: 150px;
    height: 130px;
    overflow: auto;
}